.red-card {
    color: red;
}

.card {
    float: left;
    margin: 10px;
    width: 40px;
    height: 60px;
    font-size: 20px;
}

#dealer {
    float: left;
    width: 50%;
    height: 50%;
}

#p1 {
    float: left;
    width: auto;
    height: 50%;
    background-color: lightgray;
}

button:nth-of-type(4n + 1) {
    clear: left;
}

#p2 {
    float: right;
    width: 50%;
    height: 50%;
    background-color: lightyellow;
}

#p3 {
    float: left;
    width: 50%;
    height: 50%;
    background-color: lightgreen;
}

#p4 {
    float: right;
    width: 50%;
    height: 50%;
    background-color: lightcyan;
}

.black-card {
    color: black;
}

#table {
    text-align: center;
    background-color: forestgreen;
    max-width: 500px;
    min-height: 500px;
    align-content: center;
    margin: 0 auto;
}

/*button {*/
/*    margin: 10px;*/
/*    width: 40px;*/
/*    height: 60px;*/
/*    font-size: 20px;*/
/*}*/

/*.card:nth-of-type(13n+1) {*/
/*    clear: left;*/
/*}*/