.red-card {
    color: red;
}

.card {
    float: left;
    margin: 10px;
    width: 40px;
    height: 60px;
    font-size: 20px;
}

.black-card {
    color: black;
}

/*.table {*/
/*    alignment: center;*/
/*}*/

/*button {*/
/*    margin: 10px;*/
/*    width: 40px;*/
/*    height: 60px;*/
/*    font-size: 20px;*/
/*}*/

/*.card:nth-of-type(13n+1) {*/
/*    clear: left;*/
/*}*/